body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header{
    width: 100%;
    min-height: 150px;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: darkslategrey;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.Principal{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:lightblue;
    width: 70%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(0, 78, 78);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Rodape{
    background-color: azure;
    color: darkslategrey;
    width: 100%;
    min-height: 80px;
    text-align: center;
    font-weight: 400;
}